.technology{
    height: 100%;
    background: url('./../../../public/images/technology/background-technology-desktop.jpg') no-repeat;
    background-size: cover;
}
.technology-left{
    margin-top: 250px !important;
}

.technology-right{
    margin-top: 300px !important;
}
.technology-content{
    margin-left: 140px !important;
    margin-top: 100px !important;
}
.technology-pagination{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid white;
    text-align: center;
    padding-top: 20px;
    font-size: 17pt;
    font-weight: lighter;
    margin: 10px;
}
.technology-pagination-active{
    background-color: white;
    color: black !important;
    font-weight: bold;
}